html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#keyboard {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
}

.white-keys {
  width: 100%;
  height: 100%;
  position: absolute;
}

.key.white {
  height: 100%;
  width: 96px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  float: left;
  background: #f2f2f2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.black-keys {
  position: absolute;
}

.key.black {
  float: left;
  width: 60px;
  height: 300px;
  background: #444;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.key.black:nth-child(1) {
  left: 65px;
}

.key.black:nth-child(2) {
  left: 161px;
}

.key.black:nth-child(3) {
  left: 353px;
}

.key.black:nth-child(4) {
  left: 449px;
}

.key.black:nth-child(5) {
  left: 545px;
}

#wave-types {
  text-align: center;
  margin-top: 40px;
}
#wave-types button {
  display: inline-block
}

.key.white.active {
  background: #ddd;
}
